<a href="https://colab.research.google.com/github/Ambrish011/code06-03/blob/main/06_03_2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
numbers = [10, 25, 60, 45, 30, 55, 70]

for num in numbers:
    if num > 50:
        print("First number greater than 50:", num)
        break

First number greater than 50: 60

In [2]:

numbers = list(map(int, input("Enter numbers separated by spaces: ").split()))

for num in numbers:
    if num > 50:
        print("First number greater than 50:", num)
        break

Enter numbers separated by spaces: 54
First number greater than 50: 54

In [4]:
correct_password = "secret"
attempts = 0
max_attempts = 3

while attempts < max_attempts:
    password = input("Enter your password: ")

    if password == correct_password:
        print("Login successful")
        break
    else:
        attempts += 1
        print("Incorrect password. Try again.")

if attempts == max_attempts:
    print("More than 3 wrong attempts, Account blocked!")

Enter your password: RAI
Incorrect password. Try again.
Enter your password: secret
Login successful

In [10]:
numbers= list(map(int,input("enter number ").split()))
print (numbers)
for i in numbers:
  if (i<0):
    break
  print (numbers)

enter number 4 5 6 8 9
[4, 5, 6, 8, 9]
[4, 5, 6, 8, 9]
[4, 5, 6, 8, 9]
[4, 5, 6, 8, 9]
[4, 5, 6, 8, 9]
[4, 5, 6, 8, 9]

In [12]:
numbers=[1,2,3,4,5,6,7,8,9,10]
for i in numbers:
  if i%2==0:
    continue
  print(i)

1
3
5
7
9

In [14]:
number=[-2,5,-8,10,-3,15]
for i in number:
  if i<0:
    continue
  print(i)

5
10
15

In [18]:
my_string = input("Enter a string: ")
count=0
for i in my_string:
  if i not in "aeiouAEIOU":
    continue
  else:
    count=count+1
print(count)

Enter a string: pikachukimakichu
7

In [15]:
word = input("Enter a word: ")
reversed_word = word[::-1]
print("Reversed word:", reversed_word)

Enter a word: ambrish
Reversed word: hsirbma

In [20]:
username = input("Enter username: ")

if username == "admin":
    password = input("Enter password: ")

    if password == "12345":
        print("Login successful")
    else:
        print("Incorrect password")
else:
    print("Incorrect username")

Enter username: admin
Enter password: 1234
Incorrect password